{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Notice | Unity-Power </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/unity_power_logo.png' %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{%  static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{%  static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{%  static 'assets/css/pages/error/style-maintanence.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>
<body class="maintanence text-center">
    
    <div class="container-fluid maintanence-content">
        <div class="">
            <div class="maintanence-hero-img">
                <img alt="logo" src="{% static 'images/unity_power_logo.png' %}">
            </div>
            <h1 class="error-title">Hello <strong class="text-success">Mr. {{ username }}</strong></h1>
            <p class="error-text">আপনার প্রোফাইল তথ্য আপডেট করুন</p>
            <p class="text">আমাদের আপনার তথ্য প্রয়োজন,  <br/> আপনাকে আরও ভালো ব্যবহারকারীর অভিজ্ঞতা দিতে,</p>
            <p class="text">আপনার সমর্থন ও সহযোগিতার জন্য আমরা কৃতজ্ঞ।</p>
            <a href="{% url 'update_profile' %}" class="btn btn-success w-50 mt-4">আপডেট করুন</a>
        </div>
    </div>
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{%  static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{%  static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{%  static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>