{% extends 'base.html' %}
{% load i18n %}


{% block content %}

    <div class="main-container sidebar-closed sbar-open" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
            {% include 'components/sidebar.html' %} 
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="account-settings-container layout-top-spacing">

                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">


                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                    <form method="POST" enctype="multipart/form-data" id="general-info" class="section general-info">
                                        {% csrf_token %}
                                        <div class="info">
                                            <h6 class="">General Information</h6>
                                            <div class="row">
                                                <div class="col-lg-11 mx-auto">
                                                    <div class="row">
                                                        
                                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                            <div class="form">

                                                                    <div class="form-group">
                                                                        <label for="profession">{{ form.email.label }}</label>
                                                                        {{ form.email }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="profession">{{ form.account_number.label }}</label>
                                                                        {{ form.account_number }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="profession">{{ form.user_type.label }}</label>
    {#                                                                    <input type="text" class="form-control mb-4" id="profession" placeholder="Designer" value="Web Developer">#}
                                                                        {{ form.user_type }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="profession">{{ form.is_hr.label }}</label>
    {#                                                                    <input type="text" class="form-control mb-4" id="profession" placeholder="Designer" value="Web Developer">#}
                                                                        {{ form.is_hr }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="profession">{{ form.is_admin.label }}</label>
    {#                                                                    <input type="text" class="form-control mb-4" id="profession" placeholder="Designer" value="Web Developer">#}
                                                                        {{ form.is_admin }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="profession">{{ form.is_finance.label }}</label>
    {#                                                                    <input type="text" class="form-control mb-4" id="profession" placeholder="Designer" value="Web Developer">#}
                                                                        {{ form.is_finance }}
                                                                    </div>
                                   
                                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="account-settings-footer">
                                            <div class="as-footer-container">

                                                <button type="submit" id="multiple-messages" class="profile-updating-btn btn btn-success">Save Changes</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>

{% endblock content %}